.book-item {
	display: inline-block;
	margin: 10px;
	width: 150px;
	height: 80px;
	vertical-align: top;
	border: 1px solid grey;
	box-shadow: 5px 5px 2px 2px grey;
	padding: 5px;
}

.book-title {
	font-size: 18px;
}

.book-author {
	font-size: 14px;
}
